li {
  list-style: none;
  margin: 0;
  border-radius: 5px;
}

.flex-container {
  margin-left: auto;
}

#checkbox {
  margin: 10px;
}

#delete {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff4747;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;

  margin: 10px;
}
